@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,300;0,400;0,700;1,300&family=Manrope:wght@200;400;600&display=swap');

html {
    scroll-behavior: smooth;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    font-size: 20px;
}

body {
    background-color: #131313;
    color: #e5e2e1;
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, .serif-font {
    font-family: 'Noto Serif', serif;
}

input:focus, textarea:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
}
